<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%level] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="stdout"/>
    </root>

    <logger name="eu.semberal.dbstress" level="info" additivity="false">
        <appender-ref ref="stdout" />
    </logger>

</configuration>
